/* header */
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px; /* ヘッダーの高さ */
	background-color: transparent; /* 必要に応じて背景色を設定 */
  }
  
  .header_logo {
	position: absolute;
	top: 10px; /* 上からの余白 */
	left: 10px; /* 左からの余白 */
  }
  
  .header_logo img {
	width: 180px; /* 横幅を200pxに指定 */
  width: 20%; /* 横幅を500pxに固定 */
	height: auto; /* 高さは画像の比率を保ったまま自動調整 */
  margin-top: 10px;    /* 上側 */
  margin-left: 10px;    /* 左側 */
  }

  /* スマホ向けの調整 */
  @media (max-width: 768px) {
    .header_logo img {
      width: 20%; /* ビューポートの80%にする */
    }
  }

.language-switch {
    position: absolute;
    top: 18px;
    right: 30px;
    font-weight: bold;
    font-size: 16px; /* 文字サイズを大きくする */
}

.language-switch a {
    text-decoration: none;
    color: #a1a1a1;
}

.language-switch a:hover {
    text-decoration: underline;
}

/* 下線を太くする */
.current {
    color: #17224E;
    text-decoration: underline;
    text-decoration-thickness: 2px; /* 下線の太さを指定 */
    font-weight: bold;
    cursor: default;
    text-underline-offset: 8px; /* 下線とテキストの間隔調整 */
}


/* レスポンシブ対応 */
@media (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }
  .section {
    padding: 0.5rem;
  }
  .header_logo img {
    width: 120px; /* スマホでの適切なサイズ */
  }
}

