/* general */
html{scroll-behavior: smooth;}

body{
	font-family:'Noto Sans JP', sans-serif;
	font-weight: 800;
	background:#ffffff;
	background-image: url(../img/bg.jpg);
	background-size: contain;
	background-attachment: fixed;
	background-position: center;
}

section{overflow: hidden;}

.blocker {z-index:10000!important;}

.sp-br{display:none}

a{text-decoration: none;    color: #090909;}

.hidden{display: none;}

.marker {background: linear-gradient(transparent 87%, #fed500 87%);background-position-y: -6px;}

/* micro clearfx */
.clearfix:after {
  clear: both;
  content: '';
  display: block;
}

#wrapper{
	width: 100%;
	margin:auto;
    height: auto;
    line-height: 200%;
    font-size: 15px;
}

.font22{
	font-size: 22px;
	margin: 0 5px;
}



/** header **/

.switcher {
	display: flex;
	list-style-type: none;
	margin: 0 0 0 0em;
	padding: 0;
	position: absolute;
	top: 10px;
	right: 30px;
}
.switcher li{margin: 0px 5px;}
.switcher li.selected{border-bottom: 2px solid #090909;}
.switcher a:hover{border-bottom: 2px solid #090909; padding-bottom:5px;}


.header_logo{
	width: 200px;
	height: 80px;
	background-color: #ffffff;
	display: block;
	margin:30px auto;
	display: flex;
	justify-content: start;
	align-items: start;
}

.header_logo img{
	width: 200px;
	height: 47px;
	margin: auto;
	display: block;
}

.header_logo p{
	color: #fff;
	font-size: 10.5px;
	text-align: center;
    letter-spacing: 1em;
}

/** child_body **/
article#child_body{
	background: #FFF;
	box-shadow: 11px 15px 0px rgba(0,0,0,0.3);
	padding: 50px 80px 80px;
	width: 70%;
	margin:0px auto 100px;;
	min-height: 100vh;
	font-weight: 600;
}

article#child_body a:hover{
	color: #fed500;
}

article#child_body .selected{
	color:#fed500;
}

#child_body section.title{
	text-align: center;
	overflow:inherit;
}

#child_body section{
	margin:50px 0px;
}

#child_body h1{
	font-size:34px;
	display: inline;
	text-align: center;
	background: linear-gradient(transparent 80%, #fed500 80%);background-position-y: -2px;
	font-weight: 900;
}

#child_body h2{
	background: #fed500;
	padding:6px 38px;
	font-size: 20px;
	font-weight: 700;
	display: inline-block;
	margin: 20px 0px;
}

#child_body strong{
	
	display: inline-block;
	text-align: center;
	background: linear-gradient(transparent 80%, #fed500 80%);background-position-y: -4px;
}


#child_body ul{
	list-style: none;
	margin-left: 20px;
	line-height: 35px;
}

#child_body ul li:before{
	font-family: "Font Awesome 5 Free";
	content: '\f058';
	margin-left: -20px;
    margin-right: 8px;
    color: #fed500;
    font-size: 18px;
}

#child_body ol{
	counter-reset: my-counter;
	padding: 20px 40px;
	margin:10px 0px;
	background:#f9f9f9;
}

#child_body ol li{

  list-style-type:none;
  list-style-position:inside;
  counter-increment: cnt;
  margin: 5px 0;
}

#child_body ol li:before {
  display: marker;
  content: "(" counter(cnt) ") ";
}

.indent{text-indent: 2rem;}

dl.pp{background-color: #f9f9f9;
    padding: 20px 16px;
    margin: 20px 0px;}


/** kv **/

#kv{
	min-height: 750px;
	height: 100vh;
    display: block;
    z-index: 100;
    background-image: linear-gradient(to right, #000000 50%, #fed500 50%);
    display: flex;
	justify-content: center;
	align-items: center;
    top: 0;
    animation: wipe 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) both;
    background-size: 200% auto;
}

@keyframes wipe {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}

#kv h1{
	width: 50vw;
	min-width: 600px;
	margin-bottom: 20px;
	animation: jackInTheBox 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) both;
}

#kv p{
	text-align: center;
	letter-spacing: 1em;
	font-size: 1.5em;
	animation: rubberBand 1.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) both;
}

div.notice{
	animation: bounceInUp 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) both;
	animation-delay: 0.4s;
	position: absolute;
	bottom: 80px;
}

#kv a.news{
	display: block;
	background-color: #000;
	color: #FFF;
	padding: 8px 30px 8px 56px;
    border-radius: 6px;
	transition: 0.15s!important;
}

#kv a.news:hover{
	transform: scale(1.1)!important;
}

#kv img.notice{
	position: absolute;
    bottom: 6px;
    left: 14px;
    width: 32px;
}

@keyframes spacing {
  0% {
	  letter-spacing: 1.3em;
  }
  50% {
	  letter-spacing: 1.3em;
  }
  100% {
    letter-spacing: 1em;
  }
}

section.content {
	box-sizing: border-box;
	position: sticky;
    z-index: 200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position:relative;
    height:auto;
    min-height: 60vh;
    margin:20px 0px;
    padding-bottom: 50px;
    float: left;
}

section.content:nth-child(odd) {float: right;}

section.content div.container{
	background: #111111;
	width: 50vw;
	color:#fff;
	min-width: 600px;
	box-shadow: 11px 15px 0px rgba(0,0,0,0.3);
	padding:90px 80px;
	
}

section.content:nth-child(odd) div.container{
	background: #fff;
	color: #111111;
}

section.content div h3{
	margin-bottom: 30px;
	font-size: 14px;
}

section.content div h2{
    margin-bottom:15px;
}


section.content div p{
    margin: auto;
    font-size:14px;
    line-height: 200%;
}



/** about **/

section#about {
    color:#fff;
}

#about h2{
	width: 450px;
	height:47px;
}

#about p{
    margin: auto;
    font-size:19px;
    line-height: 190%;
}

.officepic{
	width: 100%;
    max-width: 640px;
    margin-top: 32px;
}


/** news **/
#news h2{
	width: 152px;
	height:34px;
}

#news h4{
    margin: 25px 0 15px 0;
}

#news li{
  list-style-type: none;
  margin-bottom: 10px;
}

#news .news-title{
	background: #111;
	color:#fff;
	padding: 5px 15px;
	margin-bottom: 15px;
	border-radius: 6px;
}
#news .news-text{
	padding: 5px 10px;
	margin: 0;
	width: 70%;
}

a.external_link{
    background: #ffe71d;
    color: #111;
    padding: 5px 20px;
    border-radius: 6px;
    display: inline-block;
	height: auto!important;
	cursor: pointer;
	margin-bottom: 20px;
	text-align: center;
}



/** whatwedo **/
#whatwedo h2{
	width: 331px;
	height:46px;
}

#whatwedo h4{
	border-radius: 6px;
	background: #fff;
	color:#111;
	padding: 5px 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    display: inline-block;
    font-size: 17px;
}

/** products **/
#products h2{
	width: 257px;
	height:57px;
}

#products figure{
	margin-bottom:32px;
	display: flex;
}

#products .product_container{
	min-width: 290px;
}

.product_icon{
	width:196px;
	height: 196px;
	margin-right:40px;
	float: left;
	border-radius: 38px;
}

.divider{border-bottom:1px solid #ccc;padding-bottom: 20px;}

.box_lgf{
    display: flex;
    margin-bottom: 12px;
	align-items: center;
}

.logo_lgf{width: 80px;margin-right: 10px;}

.logo_award80{width: 80px;margin-right: 10px;}

.txt_lgf{
	line-height: 140%!important;
	color:#ff3000;
	margin: 0!important;
	font-size: 13px!important;
}

#products h4{
	font-size:20px;
	font-weight: 900;
	margin-bottom:10px;
}

#products p{
	font-size:14px;
	margin-bottom:10px;
}

#products p.copyright{
	font-weight: normal;
    font-size: 12px;
    margin-top: 10px;
}
#products .textgray{
	font-size:12px;
	color:#777;
	font-weight: normal;
}

#products a{
	height:44px;
}

#products a.external_link{
    font-size:14px;
}

.product_toydiumlab{
	width: 450px;
	margin: 40px 0px 14px -28px;
}
p.toydiumlab_bottom{
	margin-bottom: 40px!important;
}

/* 動画全体の横幅を指定するためのdiv */
.video-wrap {
	max-width: 400px; /* ここに動画の横幅を指定 */
  }
  
  /* 動画を囲うdiv */
  .video {
	position: relative;
	width:100%; /* 横幅は100%で固定 */
	height:0; /* 高さは0にしておく(padding-topで高さを指定するため) */
	padding-top: 56.25%; /* 高さを指定(16:9) */
	margin-bottom: 10px;
  }
  
  /* YouTube埋め込み用のiframe */
  .video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }

.button_appstore{
	width: 120px;
	float:left;
	transition: 0.25s;
	margin-right:5px;
}

.button_steam,.button_gift{
	width: 180px;
    padding: 12px;
    display: inline-block;
    height: auto!important;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
    background: #000;
    color: #fff;
	transition: 0.25s;
	font-size: 16px;
}

.button_steam{
	background: #000 url(../img/logo_steam.svg) center no-repeat;
	background-size: 25px;
    background-position: 12px;
}

.button_steam:hover,.button_appstore:hover,.button_googleplay:hover{
	transform: scale(1.05);
}


.button_googleplay{
	width: 144px;
	transition: 0.25s;
}


/** whoweare **/
#whoweare h2{
	width: 334px;
	height:46px;
}

#whoweare img.pic{
	width: 200px;
	height:200px;
}

#whoweare h4{
	margin:10px 0;
}

/** recruit **/
#recruit	 p{
	margin-bottom: 15px;
}
#recruit h2{
	width: 207px;
	height:46px;
}

#recruit h4{
	background: #fff;
	color:#111;
	padding: 7px 17px;
    margin-bottom: 15px;
    border-radius: 6px;
    display: inline-block;
    font-size: 17px;
}

#recruit dl{
  display:flex;
  flex-wrap: wrap;
}

#recruit dt{
	color:#fff;
	width: 20%;
}
#recruit dd{
	margin: 0;
	width: 80%;
	margin-bottom: 10px;
}

/** inquiry **/
#inquiry h2{
	width: 204px;
	height:58px;
}

#inquiry p{
	text-align: center;
	width:80%;
	margin: 0 auto 50px;
}

#inquiry input, select, textarea{
	display: block;
	margin: 35px auto;
	outline: 4px solid #333;
	outline-offset: -2px;
	font-size: 16px;
	width: 100%;
	padding: 15px;
	background: #fff;
	border-radius: 0 0 0 0;
	border:none;
}

#inquiry select{
	height:50px;
	border:none;
}


#inquiry textarea{
	height:200px;
}

#inquiry input.submit{
	outline: none;
	font-size: 17px;
    display: block;
    text-align: center;
    border: none;
    cursor: pointer;
    background: #ffe71d;
    font-weight: bold;
    color: #111;
    padding: 20px 10px;
    border-radius: 6px;
}

#inquiry input.submit:hover{
	background: #222;
    color: #ffe71d;
}


/** profile **/
#profile	 h2{
	width: 205px;
	height:59px;
}

#profile	 table{
	border-collapse: separate;
    border-spacing: 0 5;
    color: #eee;
    font-weight: 900;	
    margin-bottom: 25px;
	border-bottom: 2px solid #111;
}

#profile	 table th{
	background-color: #222;
	padding: 10px 20px;
	width: 25%;
}

#profile	 table td{
	background-color: #FFF;
	padding: 10px 20px;
	color:#111;
	width: 75%;
	border: 2px solid #111;
    border-bottom: none;
}

#profile	 a{
    background: #ffe71d;
    color: #111;
    padding: 5px 20px;
    border-radius: 6px;
    display: inline-block;
}

#profile	 a:hover{
    background: #222;
    color: #ffe71d;
}

#profile	 td a{
    background:none;
    padding: 0;
}


/** footer **/
footer{
	background: #111;
	padding:100px 0px;
	margin:auto;
	position: sticky;
    z-index: 1100;
    width: 100%;
}

footer img{
	display: block;
    width: 200px;
    margin: 0px auto 10px;
}
footer ul{
	display: flex;
    margin: auto;
    justify-content: space-evenly;
    width: 300px;
    margin-bottom: 50px;
    color: #fff;
    font-size: 14px;
}

footer li{
	color:#fff;
	list-style-type: none;
}

footer li a{
	color:#fff;
}

footer li a:hover{
	color:#ffe71d;
}

footer .copyright{
	color:#fff;
    text-align: center;
    font-size: 12px;
}


@media screen and (max-width: 689px) {
	#wrapper{
	    line-height: 185%;
	    font-size: 13px;
	}
	.header_logo {
		width: 290px;
		height: 97px;
	}
	/** child_body **/
	article#child_body{
		padding: 20px 20px;
		width: 80%;
		margin: 0px auto 50px;
	}
	
	#child_body section {
	    margin: 30px 0px;
	}
	
	#child_body h1 {
    		font-size: 24px;
	}
	
	#child_body h2 {
	    padding: 6px 18px;
	    font-size: 16px;
	    margin: 15px 0px;
	}
	
	#child_body ol {
	    padding: 20px 17px;
	}
	
	#kv{
		min-height: 100vh;
	}
	
	#kv h1{
		width: 80vw;
	    min-width: auto;
	    margin-bottom: 8px;
	}
	
	#kv p{
	font-size: 0.95em;
	}

	#kv a.news {
		margin: 0 21px;
	}

	#kv a.news:hover{
		transform:none!important;
	}
	

	#kv img.notice {
		left: 36px;
		bottom: 6px;
		width: 24px;
	}

	#kv img.notice_en {
		bottom: 11px;
	}

	section.content {
	    min-height: auto;
	    margin: 30px 0;
	    padding: 0 11px 50px 0;
	}
	
	section.content:nth-child(odd) {
	    padding: 0 0px 50px 0;
	}
	
	section.content div.container {
	    min-width: auto;
	    padding: 45px 26px;
	    width: 76vw;
	    
	}
	section#about.content div {
		padding: 60px 26px;
	}
	
	section.content div h3 {
	    margin-bottom: 10px;
	}
	
	section.content div p{
	    font-size:13px;
	}
	
	
	#about h2 {
	    width: 280px;
	    height: auto;
	}
	
	#about p {
	    font-size: 15px;
	}
	
	#news h2 {
	    width: 92px;
	    height: 21px;
	}
	#news .news-text{
		display: block;
		width: 100%;
	}
	
	#whatwedo h2 {
	    width: 205px;
	    height: 29px;
	}
	
	#whatwedo h4{
	    font-size: 15px;
	}

	#products h2{
		width:172px;
	    height: 38px;
	}

	#products figure{
		flex-direction: column;
	}

	#products .product_container {
		min-width: 0;
		display: flex;
		flex-direction: column;
	}

	#products .product_icon{
		margin:24px auto 16px;
		float: none;
		border-radius: 36px;
	}

	#products h4{
		text-align:center;
		font-size:18px;
		line-height: 165%;
	}

	#products p{
		font-size: 13px;
		line-height: 170%;
	}

	#products div div{
    	display: flex;
		gap: 5px;
	}

	.product_toydiumlab{
		width: 100%;
    	margin: 10px 0px 14px 0px!important;
	}


	p.toydiumlab_bottom {
		margin: 0px 10px 0px 10px!important;
	}

	.video-wrap {
		max-width: 100%;
		margin:0!important;
	  }

	.button_appstore,.button_googleplay{height: 48px;width: auto!important;    margin-right: 0px;}

	.button_steam,	.button_gift{
		width: 100%;
	}
	
	
	
	#whoweare h2 {
	    width: 207px;
	    height: 29px;
	}
	
	#recruit h2 {
	    width: 128px;
	    height: 29px;
	}
	
	#recruit h4{
	    font-size: 15px;
	}
		
	#recruit dt{width: 30%;}
	#recruit dd{width: 70%;}
	
	#inquiry h2 {
	    width: 126px;
	    height: 37px;
	}
	
	#inquiry input, select, textarea{
		width: 90%;
	    padding: 10px 15px;
	    outline: 3px solid #333;
	    outline-offset: -2px;
	    font-size: 14px;
	}
	
	#inquiry input.submit {font-size: 15px;padding: 13px;}
	
	#profile h2 {
	    width: 121px;
	    height: 36px;
	}
	
	#profile	 table{font-size: 13px}
	
	#profile	 table th{
		padding: 10px 3px;
		width: 30%;
	}
	
	#profile	table td{
		background-color: #FFF;
		padding: 12px;
		width: 70%;
	}
	
	footer{padding:50px 0px 100px;}
	
	footer ul{font-size: 12px;}
	
}
@media screen and (min-width: 690px) and (max-width: 850px) {
	#wrapper{
	    line-height: 180%;
	    font-size: 13px;
	}
	
	/** child_body **/
	article#child_body{
		width: 65%;
	}
	
	#kv{
		min-height:100vh;
	}
	#kv h1{
		width: 80vw;
	    min-width: auto;
	    margin-bottom: 8px;
	}
	
	#kv p{
	font-size: 1.3em;
	}
	
	section.content {
	    min-height: auto;
	    margin: 30px 0;
	    padding: 0 11px 50px 0;
	}
	
	section.content:nth-child(odd) {
	    padding: 0 0px 50px 0;
	}
	
	section.content div.container {
	    min-width: auto;
	    padding: 45px 50px;
	    width: 72vw;
	}
	
	section#about.content div {
	    padding: 70px 50px;
	}
	
	section.content div h3 {
	    margin-bottom: 10px;
	}
	
	section.content div p{
	    font-size:13px;
	}
	
	.video-wrap {
		max-width: 100%;
		margin:0!important;
	  }


	#inquiry input, select, textarea{
		width: 90%;
	    padding: 10px 15px;
	    outline: 3px solid #333;
	    outline-offset: -2px;
	    font-size: 14px;
	}
}